@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
h1, h2, h3{
    color: hsl(229, 31%, 21%);
}
h2{
    font-size: 2em;
    margin-bottom: 30px;
}
p{
    color: hsl(229, 8%, 60%);
    font-size: 1.2em;
    line-height: 1.4em;
}
header{
    padding: 45px 160px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:hsl(229, 8%, 60%);
    margin: 0 20px;
    font-size: 14px;
}
#header-content{
    display: flex;
    justify-content: space-between;
}
#header-content > img{
    position: relative;
    left: 50px;
}
h1{
    padding-top: 75px;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 20px;
}
header p{
    margin-bottom: 30px;
}
.light-btn{
    background:hsl(229, 8%, 60%);
    color:hsl(229, 31%, 21%);
    margin-left: 15px;
}
button{
    padding: 15px 30px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background: hsl(231, 69%, 60%);
    border: none;
    border-radius: 5px;
}
main{
    padding: 45px 160px;
}
section > h2, section > p{
    text-align: center;
}
#features{
    margin-bottom: 200px;
}
#option-titles{
    display: flex;
    justify-content: center;
}
#option-titles h3{
    padding: 30px 40px;
    font-weight: 400;
    border-bottom: .5px solid hsl(229, 8%, 60%);
    margin-bottom: 70px;
}
#option-titles h3:hover{
    cursor: pointer;
    color: hsl(0, 94%, 66%);
    border-bottom: 4px solid hsl(0, 94%, 66%);
}
.option-tab{
    display: flex;
}
.option-tab > div{
    padding: 65px 0 0 120px;
}
#option-2, #option-3{
    display: none;
}
#extesion-options{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.browser{
    text-align: center;
    padding: 30px;
}
.browser > img{
    margin-bottom: 30px;
}
.browser > h3{
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.browser > p{
    font-size: 15px;
    margin-bottom: 35px;
}
hr{
    border: 1px dotted hsl(229, 8%, 60%);
    margin-bottom: 15px;
}
.firefox{
    position: relative;
    top: 30px;
}
.opera{
    position: relative;
    top: 60px;
}
#faqs{
    max-width: 60%;
    margin: 0 auto;
}
.answer{
    display: none;
}
footer{
    padding: 45px 160px;
}